Assignment/TransferServiceWeb/WebContent/WEB-INF/wsdl/AccountAdministrationServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-07/09/2014 01:53 PM(foreman)-. --><definitions name="AccountAdministrationServiceService" targetNamespace="http://service.assignment.igenico.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.assignment.igenico.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.assignment.igenico.com/" schemaLocation="AccountAdministrationServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createAccount">
    <part element="tns:createAccount" name="parameters"/>
  </message>
  <message name="createAccountResponse">
    <part element="tns:createAccountResponse" name="parameters"/>
  </message>
  <message name="TransferServiceException">
    <part element="tns:TransferServiceException" name="fault"/>
  </message>
  <message name="transferBalance">
    <part element="tns:transferBalance" name="parameters"/>
  </message>
  <message name="transferBalanceResponse">
    <part element="tns:transferBalanceResponse" name="parameters"/>
  </message>
  <message name="getBalance">
    <part element="tns:getBalance" name="parameters"/>
  </message>
  <message name="getBalanceResponse">
    <part element="tns:getBalanceResponse" name="parameters"/>
  </message>
  <portType name="AccountAdministrationServiceDelegate">
    <operation name="createAccount">
      <input message="tns:createAccount" wsam:Action="http://service.assignment.igenico.com/AccountAdministrationServiceDelegate/createAccountRequest"/>
      <output message="tns:createAccountResponse" wsam:Action="http://service.assignment.igenico.com/AccountAdministrationServiceDelegate/createAccountResponse"/>
      <fault message="tns:TransferServiceException" name="TransferServiceException" wsam:Action="http://service.assignment.igenico.com/AccountAdministrationServiceDelegate/createAccount/Fault/TransferServiceException"/>
    </operation>
    <operation name="transferBalance">
      <input message="tns:transferBalance" wsam:Action="http://service.assignment.igenico.com/AccountAdministrationServiceDelegate/transferBalanceRequest"/>
      <output message="tns:transferBalanceResponse" wsam:Action="http://service.assignment.igenico.com/AccountAdministrationServiceDelegate/transferBalanceResponse"/>
      <fault message="tns:TransferServiceException" name="TransferServiceException" wsam:Action="http://service.assignment.igenico.com/AccountAdministrationServiceDelegate/transferBalance/Fault/TransferServiceException"/>
    </operation>
    <operation name="getBalance">
      <input message="tns:getBalance" wsam:Action="http://service.assignment.igenico.com/AccountAdministrationServiceDelegate/getBalanceRequest"/>
      <output message="tns:getBalanceResponse" wsam:Action="http://service.assignment.igenico.com/AccountAdministrationServiceDelegate/getBalanceResponse"/>
      <fault message="tns:TransferServiceException" name="TransferServiceException" wsam:Action="http://service.assignment.igenico.com/AccountAdministrationServiceDelegate/getBalance/Fault/TransferServiceException"/>
    </operation>
  </portType>
  <binding name="AccountAdministrationServicePortBinding" type="tns:AccountAdministrationServiceDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createAccount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="TransferServiceException">
        <soap:fault name="TransferServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="transferBalance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="TransferServiceException">
        <soap:fault name="TransferServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getBalance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="TransferServiceException">
        <soap:fault name="TransferServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AccountAdministrationServiceService">
    <port binding="tns:AccountAdministrationServicePortBinding" name="AccountAdministrationServicePort">
      <soap:address location="http://localhost:9080/TransferServiceWeb/AccountAdministrationServiceService"/>
    </port>
  </service>
</definitions>